doctype html
html(lang="en")

  head
    block vars
      - path = "./"
    meta(charset="utf-8")
    meta(name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width")
    title #{title}
    base(href="" target="_self")
    block styles
        link(href="http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css" rel="stylesheet")
        link(href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet")
        link(href="#{path}index.css" rel="stylesheet")

  body
     include ./includes/nav.jade
     #main
        block content

  script(src="#{path}libs/zepto.min.js")

  // build:js
  // endbuild
